@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--height: 2;
	--width: 2;
}

* {
	font-family: 'Roboto', sans-serif;
	text-shadow: 0 0 3px currentColor;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	width: 100vw;
}

body {
	background-color: #222;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	display: flex;
	margin: 0;
}

button.reset {
	transition: transform 0.5s;
	background-color: #555;
	transition-delay: 0.5s;
	border-radius: 1.35rem;
	position: absolute;
	font-size: 2rem;
	cursor: pointer;
	color: white;
	outline: none;
	border: none;
	height: 3rem;
	width: 3rem;
	top: 1rem;
}

button.reset.hidden {
	transform: translateX(calc(-50vw - 2rem));
	transition-delay: 0s;
}

.shadow {
	box-shadow: 3px 2px 10px 3px #131313;
}

.controls {
	transition: transform 0.5s;
	position: absolute;
	z-index: 1;
	top: 2rem;
}

.controls.hidden {
	transform: translateY(calc(-100% - 2rem));
}

.controls input,
.controls button {
	font-size: 1.2rem;
	outline: none;
	border: none;
}

.controls input {
	border-radius: 1rem 0.2rem 0.2rem 1rem;
	padding: 1px 0 1px 0.5rem;
	width: 3rem;
}

.controls button {
	border-radius: 0.2rem 1rem 1rem 0.2rem;
	background-color: #555;
	margin-left: 1rem;
	text-align: left;
	cursor: pointer;
	color: white;
	width: 3.5rem;
}

.controls label {
	padding-right: 0.2rem;
	font-size: 1.1rem;
	color: white;
}

.controls div {
	margin-bottom: 0.5rem;
}

.container {
	max-width: calc(calc(var(--width) / var(--height) * min(90vw, 85vh)));
	transition: max-width 0.5s, aspect-ratio 0.5s, transform 1s;
	grid-template-columns: repeat(var(--width), 1fr);
	grid-template-rows: repeat(var(--height), 1fr);
	aspect-ratio: var(--width) / var(--height);
	margin: 5rem 2rem 3rem 2rem;
	background-color: #555;
	border-radius: 1rem;
	display: grid;
	flex: 1;
}

.container.hidden {
	transform: translateX(calc(55% + 50vw));
}

.container > * {
	transition: transform 0.5s, border-radius 0.5s, box-shadow 0.5s, color 0.5s, background-color 0.5s,
		opacity 0.5s;
	box-shadow: 0 0 15px 0.5rem currentColor;
	transform-origin: center;
	transform: scale(0.7);
	border-radius: 45%;
	cursor: pointer;
	opacity: 1;
}

.container > :not(.white):hover {
	box-shadow: 0 0 25px 1rem currentColor;
	transform: scale(1.1);
	border-radius: 15%;
	z-index: 5;
}

.container > .active {
	box-shadow: 0 0 25px 0.5rem white;
	transform: scale(0.9);
	border-radius: 35%;
}

.container > .white {
	background-color: rgb(255, 255, 255) !important;
	color: rgba(255, 255, 255, 0.5) !important;
	transform: scale(0.5);
	border-radius: 50%;
	cursor: unset;
	opacity: 0.7;
}

.container > .dark {
	opacity: 0.2;
}

.container > .hidden {
	transform: scale(0);
	border-radius: 0;
}

.dropdown {
	padding: 0.7rem 0.5rem 0.5rem 0.5rem;
	background-color: #555;
	border-radius: 1rem;
	position: absolute;
	text-align: center;
	max-height: 3rem;
	overflow: hidden;
	color: white;
	right: 1rem;
	width: 6rem;
	z-index: 5;
	top: 1rem;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.dropdown::-webkit-scrollbar {
	display: none;
}

.dropdown:hover {
	overflow: scroll;
	max-height: unset;
	bottom: 1rem;
}

.dropdown > div {
	border-radius: 50%;
	height: 0;
}

.dropdown:hover > div {
	box-shadow: 0 0 15px 0.3rem currentColor;
	transition: border-radius 0.5s;
	margin: 1rem;
	height: 3rem;
}

.dropdown:hover > div:hover {
	border-radius: 20%;
	cursor: pointer;
}
